snippet lnk "Link" b
[${1:key}]: ${2:url} "${3:title}"
endsnippet

snippet fig "Figure" b
<figure>
  <img alt="${1:description}" src="${2:url}" loading=lazy />
  <figcaption>${3:caption}</figcaption>
</figure>
endsnippet

snippet kb "Keyboard tag" i
<kbd>${1}</kbd>
endsnippet